<div class="container">

  <%= render "layouts/errors", :object => @time_slot %>

  <%= form_for @time_slot do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <br>
    <div class="field">
      <%= f.label :due_at_time, "Scheduled Time" %>
      <%= f.text_field :due_at_time %>
    </div>
    <br>
    <div class="field">
      <%= f.label :due_at_date, "Scheduled Date" %>
      <%= f.text_field :due_at_date %>
    </div>
    <br>
    <div class="field">
      <%= f.label :contact_info %>
      <%= f.text_field :contact_info %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
