<div class="container">

  <%= render "layouts/errors", :object => @appointment %>

  <%= form_for [@time_slot, @appointment] do |form| %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :special_instructions %>
      <%= form.text_field :special_instructions %>
    </div>

    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address %>
    </div>

    <div class="field">
      <%= form.label :contact_info %>
      <%= form.text_field :contact_info %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>
